name: Test PR

on: [pull_request]

jobs:
  test:
    runs-on: ubuntu-latest
    name: Test New PRs
    steps:
    - uses: actions/checkout@v2
    - uses: actions/setup-node@v2
      with:
        node-version: '16'
    - run: npm install
    - run: npm test
